body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding:0px;
    margin:auto;
    
}

ul {
    list-style: none;
}

ul li{
    padding:10px;
    margin:5px 40px 0px 10px;
    background:white;
    border: 1px solid gray;

}


#header {
    text-align: center;
    background:green;
    padding:1rem;
    
}

.container{
    width:500px;
    margin:auto;
    overflow:auto;
    padding: 3rem 2rem;
    
}

#my-form{
    padding:2rem;
    background-color:white;
    border: 1px solid lightgray;
    border-radius: 5px;

}
#my-form label{
    display:block;
    
}

#my-form input[type='text']{
    width:100%;
    border:1px solid gray;
    border-radius:5px;
    padding:8px;
    text-align: left;
    margin-bottom:10px;
}


.title {
    text-align: center;
    padding:10px;
    display: block;
}


.submit-button {
    width:25%;
    border:1px solid gray;
    border-radius:5px;
    padding:8px;
    color:white;
    background: black;
    display:block;
    text-align: center;
    margin:5px 0px;
    
}
.submit-button:hover{
    background:green;
}

.exit-button{
    width:5%;
    height:5%;
    background: red;
    border: 1px solid lightcoral;
    border-radius:5px;
    color:white; 
    float:right;   
}

